/* ABOUT ME */

.statStyles {
  color: whitesmoke;
}

body {
  background: url('../assets/images/wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}